.servicegrid
{
background-color:#ffffff;
height:320px;
width:440px;
filter:drop-shadow(0px 23px 12px rgba(0,0,0,0.10000000149011612));
border-radius:20px;
padding:40px;
display:flex;
flex-direction:column;
gap:30px;
border-style:hidden;
outline:none;
}
.group1
{
width:70px;
height:70px;
}
.rectangle3
{
background-color:#3758f9;
height:70px;
width:70px;
filter:drop-shadow(0px 4px 11px rgba(0,0,0,0.05999999865889549));
border-radius:15px;
}
.pie-chart
{
background-color:#ffffff;
height:36px;
width:36px;
padding:0px;
border-style:hidden;
outline:none;
left:17px;
top:17px;
position:absolute;
}
.vector
{
background-color:#ffffff;
height:34.06903839111328px;
width:34.02256774902344px;
width:34.02256774902344px;
height:34.06903839111328px;
left:1px;
top:0.97px;
width:34.02256774902344px;
height:34.06903839111328px;
position:absolute;
}
.frame1000003643
{
height:140px;
width:360px;
padding:0px;
display:flex;
flex-direction:column;
gap:14px;
left:40px;
top:140px;
position:relative;
}
.refreshingdesign
{
color:#111928;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
line-height:30px;
border-style:hidden;
outline:none;
width:360px;
}
.wedejoyworkingwithdisningclients,peopleforwhomqualuty,service,integrity&aesthetics.
{
color:#637381;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
line-height:24px;
border-style:hidden;
outline:none;
top:44px;
left:0px;
position:absolute;
width:290px;
}
